---
---

<div class="min-h-screen max-w-xl mx-auto">
  <div class="h-48 w-48 bg-primary rounded-full fixed -z-10 -top-8 -right-16">
  </div>
  <div
    class="h-40 w-40 bg-transparent border-primary border rounded-full fixed -z-10 top-6 right-8"
  >
  </div>

  <!-- <div class="h-24 w-24 rounded-full fixed -z-10 top-1/4 left-1/4 bg-pattern"></div> -->
  <!-- <div class="h-32 w-32 rounded-full fixed -z-10 top-1/2 left-1/4 bg-pattern"></div> -->

  <div class="h-40 w-40 bg-primary rounded-full fixed -z-10 -bottom-8 -left-8">
  </div>

  <div
    class="h-40 w-40 bg-transparent border-primary border rounded-full fixed -z-10 -bottom-16 left-4"
  >
  </div>
  <slot />
</div>
