---
import IconMenu from "../icons/menu-icon.astro";
---

<header class="max-w-xl mx-auto border-y-dark border-t-2 border-b pb-4 pt-1">
  <nav class="flex justify-between">
    <a href="/" class="font-bold">Home</a>
    <IconMenu />
  </nav>
</header>
