---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<article
  class="prose-sm md:prose-base prose-headings:text-light prose-img:mx-auto prose-blockquote:text-light prose-table:mx-auto prose-blockquote:border-l-light prose-blockquote:border-l prose-ul:list-disc prose-ol:list-decimal"
>
  <header class="px-4 mt-4 w-3/4">
    <h1 class="capitalize text-dark font-medium text-3xl">
      {post.data.title}
    </h1>
  </header>
  <main class="bg-dark rounded-3xl mt-4 py-8 px-4">
    <div class="border-t border-t-light py-4 text-light body-article">
      <Content />
    </div>
  </main>
</article>
