---
import ArrowRightIcon from "./icons/arrow-right-icon.astro";
import { SITE_URL } from "../config/consts";
---

<div class="border-t-dark border-t-4 mt-[50vh]">
  <div class="mt-4">
    <h5 class="font-bold text-dark capitalize">learn about the</h5>
    <h1 class="text-4xl font-bold text-dark capitalize">my history</h1>
    <p class="mt-4 text-sm font-bold text-dark">
      Get to know more about <br>
      my history and its origin
    </p>
  </div>
  <div class="mt-16 mb-8">
    <div class="flex justify-end">
      <a href={`${SITE_URL}/posts`}>
        <ArrowRightIcon />
      </a>
    </div>
  </div>
</div>
