---
import ArrowRightIcon from "./icons/arrow-right-icon.astro";
---

<div class="border-t-dark border-t-4 mt-[50vh]">
  <div class="mt-4">
    <h5 class="font-bold text-dark">Learn About The</h5>
    <h1 class="text-4xl font-bold text-dark">European History</h1>
    <p class="mt-4 text-sm font-bold text-dark">
      Get to know more about <br />
      European history and his origin
    </p>
  </div>
  <div class="mt-16 mb-8">
    <div class="flex justify-end">
      <ArrowRightIcon />
    </div>
    <p class="text-dark text-right">Click to continue</p>
  </div>
</div>
