---
import Layout from "../layouts/Page.astro";
---

<Layout>
	<p>
		Soy Licenciado en Análisis de Sistemas egresado de la Universidad de
		Buenos Aires. Actualmente me desempeño como docente para la misma
		universidad donde, además de mi labor académico, trabajo en forma
		independiente construyendo aplicaciones, realizando consultoría y
		entrenamiento.
	</p>

	<br />
	<p>
		Me apasiona el mundo de la Ingeniería de Software y mi principal guía en
		cada proyecto es la entrega de soluciones de alto valor para los
		usuarios. Para lograr mis objetivos, llevo a la práctica diversas
		metodologías centradas en las personas e implemento tecnologías que
		hagan posible el diseño y desarrollo de sistemas mantenibles y
		escalables.
	</p>

	<br />
	<p>
		En lo que respecta al trabajo en equipo, promuevo valores clave que me
		parecen importantes para un buen ambiente laboral, como la honestidad,
		la empatía y la humildad.
	</p>
</Layout>
