---
import LinkNav from "./Links/LinkNavHeader.astro";
---

<header>
	<nav class="flex justify-between items-center py-4">
		<LinkNav href="/" img_src="/favicon-32x32.png" />
		<ul class="flex space-x-6">
			<li>
				<LinkNav
					href="https://github.com/joackob"
					img_src="/github-142-svgrepo-com.svg"
				/>
			</li>
			<li>
				<LinkNav
					href="https://www.linkedin.com/in/joaquinbf/"
					img_src="/linkedin-round-svgrepo-com.svg"
				/>
			</li>
		</ul>
	</nav>
</header>
