<figure class="flex space-x-4 justify-center my-4">
    <img
        src="/profile.jpg"
        alt="profile photo"
        class="rounded-full w-24 grayscale opacity-75 hover:opacity-100 transition duration-300 ease-in-out"
    />
    <figcaption class="my-auto">
        <div class="text-3xl">Joaquin Blanco</div>
        <div class="text-tertiary">
            <p class="text-sm">Full Stack Developer</p>
            <p class="text-sm">Profesor en Desarrollo de Sistemas</p>
        </div>
    </figcaption>
</figure>
