---
import ArrowRightIcon from "../icons/arrow-right-icon.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"posts">;
}

const { post }: Props = Astro.props;
---

<div class="border-b-light border-b mb-4 pb-4">
  <h1 class="text-3xl text-light">{post.data.title}</h1>
  <p class="text-light mt-2 font-light">{post.data.description}</p>
  <div class="flex justify-end">
    <a href={`/posts/${post.slug}`}>
      <ArrowRightIcon />
    </a>
  </div>
  <p class="text-right text-light font-light">Begin Reading</p>
</div>
