---
import ArrowRightIcon from "../icons/arrow-right-icon.astro";
export interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
---

<div class="border-b-light border-b mb-4 pb-4">
  <h1 class="text-3xl text-light">{title}</h1>
  <p class="text-light mt-2 font-light">{description}</p>
  <div class="flex justify-end">
    <a href="#">
      <ArrowRightIcon />
    </a>
  </div>
  <p class="text-right text-light font-light">Begin Reading</p>
</div>
