---
import { getCollection } from "astro:content";
import Card from "./components/post-card.astro";
const posts = await getCollection("posts");
---

<section>
  <header class="mt-4">
    <h2 class="text-2xl font-medium capitalize">select this history</h2>
    <h1 class="text-4xl font-medium capitalize">of your choice</h1>
  </header>
  <main class="mt-4 bg-dark rounded-3xl py-8 px-4">
    {
      posts.map((post) => {
        return <Card post={post} />;
      })
    }
  </main>
</section>
