---
import Head from "./components/head.astro";
import Header from "./components/header.astro";
import Profile from "../components/HeroProfile.astro";
import Nav from "../components/Nav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config/consts";

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION }: Props =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} />
  <body class="bg-primary text-secondary font-sans mx-4">
    <Header title={title} />
    <main class="max-w-xl mx-auto">
      <Profile />
      <Nav />
      <slot />
    </main>
  </body>
</html>
